@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

:root{
    --scheme-yellow: hsl(60, 100%, 47%);
    --scheme-black: hsl(0,0%,0%);
    --scheme-plain: #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100%;
    background-color: var(--scheme-plain);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--scheme-black);
}
#navbar{
    max-height: 75px;
    width: 100%;
    background-color:var(--scheme-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
#navbar #logo{
    max-height: 70px;
    filter: invert(98.5%);
}
#navbar ul{
    display: none;
}
#navbar ul .links{
    text-decoration: none;
    list-style-type: none;
}

#burger-nav{
    position: absolute;
    z-index: 999;
    right:0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#burger{
    width: 50px;
    height: 8px;
    background-color: var(--scheme-yellow);
    border-radius: 5px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}   
#burger::before, #burger::after{
    content: "";
    width: 50px;
    height: 8px;
    position: absolute;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}
#burger::before{
    transform: translateY(-15px);
    width: 35px;
    background-color:  var(--scheme-plain);
}
#burger::after{
    transform: translateY(15px);
    background-color:  var(--scheme-yellow);
}
#mobile-nav{
    z-index: 1;
    position: absolute;
    height: 0;
    top: 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--scheme-yellow);
    overflow: hidden;
    transition: 300ms ease-out;
}
#mobile-nav ul{
    text-decoration: none;
    font-family: 'Raleway','Trebuchet MS', sans-serif;
    font-size: 50px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#mobile-nav .links-mobile{
    transition: ease-in-out 150ms;
}
#mobile-nav .links-mobile:hover{
    color: var(--scheme-plain);
    cursor: pointer;
}


#close{
    position: absolute;
    z-index: 999;
    top:0;
    right:0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#close #close-btn{
    width: 50px;
    height: 8px;
    background-color: var(--scheme-black);
    border-radius: 5px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    transform: rotate(45deg);
}
#close #close-btn::before, #close #close-btn::after{
    content: "";
    width: 50px;
    height: 8px;
    position: absolute;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}
#close #close-btn::before{
    transform: rotate(90deg);
    background-color:  var(--scheme-black);
}


@media only screen and (min-width:600px){
    #burger-nav{
        display: none;
    }
    #navbar ul{
        display: flex;
    }
}