@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

:root{
    --scheme-yellow: hsl(60, 100%, 47%);
    --scheme-black: hsl(0,0%,0%);
    --scheme-plain: #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100%;
    background-color: var(--scheme-plain);
    font-family: 'Open Sans','Trebechuet MS',sans-serif;
    color: var(--scheme-black);
}
#navbar{
    position: absolute;
    top:0;
    z-index:999;
    max-height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
#navbar #logo{
    max-height: 70px;
    filter: invert(98.5%);
}
#navbar ul{
    display: none;
}
#navbar ul .links{
    text-decoration: none;
    list-style-type: none;
}

#burger-nav{
    position: absolute;
    right:0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#burger{
    width: 50px;
    height: 8px;
    background-color: var(--scheme-yellow);
    border-radius: 5px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}   
#burger::before, #burger::after{
    content: "";
    width: 50px;
    height: 8px;
    position: absolute;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}
#burger::before{
    transform: translateY(-15px);
    width: 35px;
    background-color:  var(--scheme-plain);
}
#burger::after{
    transform: translateY(15px);
    background-color:  var(--scheme-yellow);
}
#mobile-nav{
    z-index: 0999;
    position: absolute;
    height: 0;
    top: 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--scheme-yellow);
    overflow: hidden;
    transition: 300ms ease-out;
}
#mobile-nav ul{
    text-decoration: none;
    font-family: 'Raleway','Trebuchet MS', sans-serif;
    font-size: 50px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mobile-nav .links-mobile{
    transition: ease-in-out 150ms;
}
#mobile-nav .links-mobile:hover{
    color: var(--scheme-plain);
    cursor: pointer;
}


#close{
    position: absolute;
    z-index: 999;
    top:0;
    right:0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#close #close-btn{
    width: 50px;
    height: 8px;
    background-color: var(--scheme-black);
    border-radius: 5px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    transform: rotate(45deg);
}
#close #close-btn::before, #close #close-btn::after{
    content: "";
    width: 50px;
    height: 8px;
    position: absolute;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}
#close #close-btn::before{
    transform: rotate(90deg);
    background-color:  var(--scheme-black);
}

header{
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;
}
#background-gradient{
    background: linear-gradient(135deg, #000,#000,#211,#211);
    height:100%;
    width:100%;
    position: absolute;
}
#welcome-background{
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url('../res/gradpic.jpg');
    background-position: left;
    background-size: 100vh;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s ease-in-out;
    filter: brightness(35%) grayscale(100%);;
}
#welcome-section{
    z-index:2;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--scheme-plain);
    height: 100%;
    width:100%;
}

#welcome-section h1,H3{
    font-family: 'Raleway','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 30px;
}
#welcome-section #job{
    margin-top:25px;
    text-align: center;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    height: 4.5vh;
    line-height: 35px;
    overflow-y: hidden;
    position: relative;
}
#job-container p{
    animation-name: scrollJob;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    transition: all ease-in-out 800ms;
}
.highlight{
    color: var(--scheme-yellow);
}
@media only screen and (min-width:600px){
    #burger-nav{
        display: none;
    }
    #navbar ul{
        display: flex;
    }
    #welcome-background{
        background-position: center;
        background-size: 90vw;
    }
    #welcome-section{
        display: flex;
        text-align: left;
        justify-content: start;
        font-size: 1.5vmax;
    }
    #welcome-section #welcome-message h1,h3{
        margin: 20px;
        line-height: 1vh;
    }
}

@keyframes scrollJob{

    0%{
        display: block;
        transform: translateY(0%);
    }
    20%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-100%);
    }
    45%{
        transform: translateY(-100%);
    }
    50%{    
        transform: translateY(-200%);
    }
    70%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-300%);
    }
    95%{
        transform: translateY(-300%);
    }
    99.99%{
        transform: translateY(-400%);
    }
    100%{
        transform: translateY(-2%);
        display: none;
    }

}