@import url('configuration.css');


main{
    height:100vh;
    width: 100%;
    position: absolute;
}
#whoami{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,hsl(0,0%,0%), hsl(0,0%,1%));
    padding: 3vh 4vw;
    transition: 500ms ease-in-out;
    overflow: hidden;
}
#whoami #title-whoami{
    font-family: 'Roboto Mono','Courier New', Courier, monospace;
    margin: 5vh 4vw;
}
#whoami .desc-whoami{
    font-family: 'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--scheme-plain);
    text-align: justify;
}

#projects{
    padding:10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    justify-content: center;
    align-items: center;
    background-color: var(--scheme-plain);
}
#projects h1{
    color: var(--scheme-black);
    font-family: 'Roboto Mono','Courier New', Courier, monospace;
    font-size: 25px;
    margin:20px 0 20px 0;
}
#projects p {
    color: var(--scheme-black);
    font-size: 18px;
    text-align: center;
}
#projects-container{
    border-top: 2px solid #333;
    box-shadow:inset 0 10px 10px -8px #333;
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projects-container::-webkit-scrollbar{
    display: none;
}
#projects .project-tile{
    margin: 20px 0; 
    width: 80%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: -5px -5px 20px -10px #555,
    5px 5px 20px -10px #555;
}
#projects .project-tile .project-img{
    width:100%;
    height:100%;
    transition: 300ms ease-in-out;
}
#projects .project-tile .project-img:hover {
    filter: brightness(20%) opacity(0);
}
#projects .project-tile .project-img:hover  #projects .project-tile{
    opacity: 1;
}



#contacts{
    height: 50vh;
    width:100%;
    transition: all ease 500ms;;
    background-color: var(--scheme-black);
    display: flex;
    padding: 2em;
    flex-direction: column;
}
#message-section h1{
    color: var(--scheme-plain);
    font-weight: 900;
    font-family: 'Raleway','Trebuchet MS'sans-serif;
    font-size: 55px;
    text-transform: uppercase;
}

#contact-section{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    margin: 2rem;
}
.contact-container{
    color: var(--scheme-plain);
    text-decoration: none;
    display: flex;
    width: 30%;
    margin: 1rem;
    flex-direction: row;
    justify-content: ;
    text-align: left;
}
.contact-container a{
    text-decoration: none;
    color: var(--scheme-plain);

}
.contact-container i {
    font-size: 2rem;
    margin-right: 1rem;
}